p {
    font-family: Arial;
    margin-top: 0;
    margin-bottom: 0;
}
.title {
    font-weight: bold;
    font-size: 20px;
}
.requirement {
    margin-top: 5px;
    color: rgb(96, 96, 96);
    font-size: 14px;
}
.description {
    margin-top: 18px;
    width: 250px;
    line-height: 20px;
    font-size: 14px;
}
.start-btn {
    background-color: rgb(33, 192, 33);
    color: white;
    border: none;
    border-radius: 10px;
    height: 35px;
    width: 120px;
    margin-top: 10px;
    cursor: pointer;
    transition: opacity 0.15s;
}
.start-btn:hover {
    opacity: 0.6;
}